@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


:root{
    --pink:#e84393;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
    
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #eee;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background-color: #e84393;
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background: rgb(241, 229, 229);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(136, 119, 119, 0.1);
}

header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span{
    color:var(--pink);
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color:var(--pink);
    cursor: pointer;
}



header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--pink);
    cursor: pointer;
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgb(0,0,0,.3);
    
}
header .toggler-active{
  display: none;
}

.toggler-nav{

  display: none ;

  }

  .toggler-nav-close{
    display: none ;

  }

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url(img/pagwebropa.jpg);
    background-size: cover;
    background-position: center;

}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color: #333;
}

.home .content span{
    font-size: 3.5rem;
    color:#666;
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color:rgb(85, 66, 66);
    padding:1rem 0;
    line-height: 1.5;
}
 
.categories{
width: 100%;
max-width: 1288px;
height: 440px;
display: flex;
flex-wrap: nowrap;
justify-content: center;
margin: auto;
}

.categories .card{
    width: 350px;
    height: 438px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.categories .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 20px 16px rgba(0, 0, 0, 0.2);
}

.categories .card img{
    width: 400px;
    height: 274px;
}

.wrapper{
    width: 95%;
    margin: 0 auto;
} 



/* Products Section
#products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    max-width: 1200px;
    width: 100%;
  }
  
  #products h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 40px;
  } */
/*   
  /* categories */
  .categories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  
  .category {
    background: var(--btn-bg);
    border: none;
    padding: 10px 15px;
    color: var(--bg-white);
    border-radius: 10px;
    cursor: pointer;
  }
  
  .active {
    background: var(--primary);
  }
  
  /* products */
  .products-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 40px 0;
    max-width: 1200px;
  }
  
  .product {
    background: var(--secondary);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }




/*    ------------------------------------- MI CODIGO --------------------------------------------   */


   .toggler-nav{

    display: none;

    }



  .catalogo{
    
    /* min-height: 100vh; */
    /* background-image: url(img/pagwebropa.jpg);
    background-size: cover;
    background-position: center;
    height: 2300px;
    width: 100%; */
    /* background-repeat: no-repeat; */
  }

  .catalogo-help-tittle{
    display: flex;
    
    justify-content: center;
  

  }

  .titulo-catalogo{
    font-size: 45px;
    font-family: arial;
    font-weight: 700;
    font-style: oblique;
    color: white;
    margin-top: 12%;
    margin-bottom: 70px;
  } 
  
  .background-prendas{
   
    height: 60px;
    width: 100%;
    background-color: rgb(241, 229, 229);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }






  .contador-productos{

    width: 90%;
    margin-top: 50px;
    margin: auto;
    /* margin-right: 50px; */
    
    /* height: 1860px;

    background-color: white; */
    border-radius: 50px;

  }
  .producto{
    margin-top: 50px;
    margin-left: 35px;
    margin-right: 35px;
    width: 220px;
    height: 370px;   
    border-radius: 20px; 
    border: 2px solid grey;
    padding: 10px;
    background-color: rgb(241, 229, 229);
  }

  .productos{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    float: left;
    justify-content: center; 
    align-items: center;
    margin-bottom: 12%;
    padding-bottom: 6%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .body-background{

    background-image: url(img/pagwebropa.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
  }

  .producto-imagen{
    width: 200px;
    height: 240px;
    padding: 10px;
    border-radius: 50px;
  }

  .producto-detalles{

    text-align: center;
  }


  .producto-titulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    margin-bottom: 5px;
  }

  .producto-precio{
    font-size: 20px;
    margin-bottom: 10px;
  }

  .producto-button{
    border: 1px solid black;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    cursor: pointer;
  }

  .producto-button:hover{
    
        background-color:var(--pink);
        color: white;
    
  }

  .footer{
            
    border-top: 2.2px solid;
    width: 100%;
    height: 70px;
    background-color: rgb(241, 229, 229);
    display: flex;
    justify-content: center;
    align-items: center;

  }


.contacto{
    margin-top: 6.5%;
    margin-bottom: 8%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 550px;
    background-color: rgb(241, 229, 229);
    border-radius: 30px;
    padding: 5%;
}

.contacto-titulo{

    margin-top: 10.5%;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}
 .contacto-form{
    font-size: 20px;
    width: 100%;
    height: 100%;
} 

.login{
  margin-top: 6.5%;
  margin-bottom: 8%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 550px;
  background-color: rgb(241, 229, 229);
  border-radius: 30px;
  padding: 5%;

}
input{

    height: 40px;
}

.contenedor-boton__ingreso{
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-ingreso{
    margin-top: 3%;
    border: 1px solid black;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;
}

.boton-ingreso{
    color: black;
}

.boton-ingreso:hover{

     color: #e84393;
    background-color: rgb(241, 229, 229);;
}


.carrito-productos{
 display: flex;
 flex-direction: column;
 gap: 1rem;
 align-items: center;
}

.carrito-producto{
 display: flex;
  width: 80%;
  justify-content: space-between;
align-items: center;
margin-top: 5%;
background-color: rgb(241, 229, 229);
padding: 28px;
border-radius: 12px;
}


.carrito-acciones{
  margin-top: 7%;
  margin-bottom: 7%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.tamaño-nombre-pedido{
  font-size: 22px;
}


.carrito-producto-eliminar{

  font-size: 20px;
  background-color: rgb(241, 229, 229);
}


.carrito-pedido__titulo-nada{
  display: none;
}

.carrito-producto-imagen{
  width: 130px;
  height: 130px;

}

a{
    text-decoration: none !important;
}


/*acciones carrito*/


.carrito-vaciar-contenido{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(238, 108, 108);
  color: black;
  font-weight: 800;
  font-size: 16px;
  border-radius: 10px;
}

.carrito-vaciar-contenido:hover{

  background-color: white;
}

.carrito-acciones-derecha{
  border: 2px solid grey;
  
}

.carrito-acciones-total{

  background-color:  rgb(241, 229, 229);
  padding: 20px;
  text-align: center;
}

.carrito-acciones-comprar{

  background-color: rgb(112, 201, 112);
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 15px;
  font-size: 20px;
  font-weight: 900;
  
}
.carrito-acciones-comprar:hover{

  background-color: white;
  cursor: pointer;
}

#total{
  font-size: 25px;
}


.redes{

  margin-top: 10%;
  margin-bottom: 10%;
  
}


.redes-sociales{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 48px;

}

.redes-sociales i:hover{
  color: #e84393;
  cursor: pointer;

}
.redes-sociales i{
  color: black;

}


.redes-sociales-directo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  font-size: 18px;
}

.toggler-nav{

  display: none; /*Important : para que se sobreponga ante todo incluso si se contradice con otro codigo*/

}

.toggler-nav-close{
  display: none;

}

.imagen-rotador{

  
  width: 40%;
  height: 30%;
  margin: auto;
}
.div-imagem_rotador{
  margin-bottom: 30%;
}

/*    -------------------------------------  --------------------------------------------   */






/* media queries */




@media (max-width:991px) {

    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }

}

@media (max-width:768px) {
      /* header .fa-bars{
        display: block;
    }   */


    /*----------------------------------------------------------------------------------------------------*/

    header .navbar{
      
        /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
        display: block ;
        position: absolute;
        top:100%; left:100%; right:0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, 0.1);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .navbar-add{
     
        left: 0 !important;   /* important : estilo para que se sobreponga ante todo aapesar de las circunstancias */
    }
 
   .toggler-nav{

    display: block ;

    }

    .toggler-nav-close{
      display: none ;

    }

    header .toggler-active{
      display: block;
    }

/*----------------------------------------------------------------------iiiiiiiiiiiiiii*/





     /* header #toggler:checked ~  .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }   */
     
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, 0.1);
        display:block
    }
}
    @media (max-width:450px){

        html{
            font-size: 50%;
        }
        .contador-productos{

            
            
            
            height: 6050px;
        
            
        
          }

          .footer{
            
            width: 100%;
            height: 50px;
            background-color: rgb(241, 229, 229);
        
          }

          .catalogo{
    
            /* min-height: 100vh; */
           
            height: 6350px;
            
            /* background-repeat: no-repeat; */
          }

          .titulo-catalogo{

            margin-top: 28%;
            font-size: 35px;
          }

          
        .contacto{
         margin-top: 15%;
         margin-bottom: 10.5%;

           width: 80%;
         height: 500px;
         border-radius: 15px;
          padding: 4%;
        }

        .contacto-form{
          margin-top: 40px;
           font-size: 18px;
           width: 100%;
           height: 100%;
        } 

        .contacto-titulo {
          margin-top: 36.5%;
          margin-bottom: 5%;
        }
        .navbar{
         display: block !important;
        }
        input{

        height: 29px;
        }

        .login{
          margin-top: 20%;
          margin-bottom: 22%;
        }

        .form-text{
          font-size: 14px !important;
        }

        .boton-ingreso{
          margin-top: 20%;
        }

        .carrito-producto{
          flex-wrap: wrap;
          justify-content: center;
        }

        .carrito-producto-titulo{
          margin: 15px;
        }

        .carrito-producto-cantidad{
          margin: 15px;
        }
        .carrito-producto-precio{
          margin: 15px;
        }
        .carrito-producto-subtotal{
          margin: 15px;
          margin-right: 25px;
        }

        .carrito-vaciar-contenido{
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 6px;
          padding-bottom: 6px;
          margin-left: 5px;
          margin-right: 5px;
          background-color: rgb(238, 108, 108);
          color: black;
          font-weight: 600;
          font-size: 14px;
          border-radius: 6px;
        }

        #total{
          font-size: 20px;
        }

        .tamaño-nombre-pedido {
          font-size: 18px;
      }

      .carrito-acciones-comprar {
        background-color: rgb(112, 201, 112);
        color: black;
        padding: 15px;
        font-size: 15px;
        font-weight: 900;
    
    }    


    .redes-sociales{
      margin-top: 24%;
    margin-bottom: 24%;
      font-size: 28px;
    
    
    }

    .redes-sociales-directo p{
  
      margin-top: 4%;
      margin-bottom: 4%;
    }
    
    .redes-sociales-directo i{
      
      margin-top: 4%;
      margin-bottom: 4%;

      margin-bottom: 24%;
    }

    .titulo-catalogo{
      
      margin-top: 29%;
      margin-bottom: 50px;
      
    } 

    .productos{
      padding-bottom: 15%;
    }


    .catalogo-filter{
     
      display: flex;
      align-items: center;
      justify-content: center;

      margin-bottom: 10%;
    }
 
    .filter{
 font-size: 42px;
    color: white;
    border: 4px solid white;
    padding-left: 5px;
    border-radius: 10px;
    padding-right: 5px;

    }

}













